@import "./variables";
@import "./fonts-varibles";

@mixin routeMaincomponentStyle($styleSpaces: true) {
    display:  flex;

    main{
        width: 95%;
        display: flex;
        flex-flow: column; 
        max-width: 1000px;
        height: max-content;
        margin: 0 auto;
        padding-top: $medium_number;

        @if $styleSpaces == true {
            & > *:not(app-navigator){
                margin: ($large_number * 2) 0;
            }
        }
    }
}

@mixin boxShadow($opacity: .9, $spread: $small_number){
    box-shadow: 4px 4px 42px 0px transparentize($color: $black, $amount: $opacity);
}

@mixin primaryButtonStyle($bg: $primary, $color: $white) {
    background-color: $bg;
    border-radius: $large_number;
    color: $color;
    font-family: $font;
    outline: none;
    border: none;
}

@mixin imageTopCut {
    border-radius: 50% 50% $small_number $small_number;
}

@mixin cutImageBannerContainer($minHeight: 400px) {
    display: grid;
    place-items: center;

    app-image-handler {
        width: clamp(300px, 80%, 400px);
        height: clamp($minHeight, 90%, 450px);
        @include imageTopCut;
        min-height: $minHeight;
    }
}

@mixin homePageExpandingButton {
    width: 100%;
    @include primaryButtonStyle;
    padding: $medium_number $large_number;
    max-width: 150px;
}

@mixin listBullet {
    font-size: $small_number + 1;
    width: $medium_number + $small_number;
    height: $medium_number + $small_number;
    color: $white;
    background-color: $primary;
    border-radius: 50%;
}

@mixin policyStyling {
    display: flex;
    flex-flow: column;
    gap: $medium_number;
    font-family: $font;

    h1{
        font-size: $medium_number * 5;
    }

    p{
        color: $neutral;
        font-size: $prefered_font_size;
    }

    & > div {
        display: flex;
        flex-flow: column;
        gap: $large_number;

        & > ul {
            display: inherit;
            flex-flow: inherit;
            gap: $large_number;


            & > li{
                display: flex;
                flex-flow: column;
                gap: $medium_number;
                list-style: none;

                ul li {
                    display: grid;
                    grid-template-columns: $large_number 1fr;

                    & > b {
                        grid-row: 1 / -1;
                        grid-column: 1 / 2;
                    }

                    p{
                        grid-column: 2 / -1;

                        b{
                            color: $black;
                            font-size: $medium_number + $small_number;
                            margin-right: $small_number;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
        h1{
            font-size: $medium_number * 3;
        }
    }
}