// COLORS

$primary: #02569B;

$white: #FFFFFF;

$black: #121212;

$neutral: #717171;

$other_pallet_white: #ECF2FF;

$other_pallet_blue: #B4CFEF;

$err-red: #a70d4b;

// SIZES

$small_number: 5px;

$medium_number: 10px;

$large_number: 25px;

$prefered_font_size: 13px;