<section>

    <div class="footer-banner">
        <app-image-handler routerLink="/" fit="contain" src="assets/images/logo.png"></app-image-handler>
    
        <div>
            <b>Address</b>
            <p>9B Iweanya Ugbogho Street off Bisola Durosimi Etti, Lekki Phase One, Lagos Nigeria.</p>
        </div>
    </div>

    <div class="footer-links">
        <h5>menu</h5>

        <ul>
            <li>projects</li>
            <li>how it works</li>
            <li>resources & guides</li>
            <li routerLink="/about">about us</li>
            <li>contact us</li>
        </ul>
    </div>

    <div class="footer-links">
        <h5>legal</h5>

        <ul>
            <li>sitemap</li>
            <li>cookies policy</li>
            <li>privacy policy</li>
            <li>terms</li>
        </ul>
    </div>
    
    <div class="footer-form">
        <h5>reach</h5>

        <div>
            <app-icon name="envelope"></app-icon>
            <p>hi&#64;diasporabuild.com</p>
        </div>

        <div>
            <app-icon name="phone"></app-icon>
            <p>+1 (234) 567-89-90</p>
        </div>

        <form>
            <input type="email" placeholder="Your email">

            <input type="submit" value="Submit">
        </form>

    </div>

</section>

<footer>

    <p>Copyright © DiasporaBuild 2025</p>

    <div>
        <app-icon name="facebook" type="brands"></app-icon>
        <app-icon name="twitter" type="brands"></app-icon>
        <app-icon name="instagram" type="brands"></app-icon>
    </div>

</footer>