@import  '/src/assets/partial-styles/variables';
@import  '/src/assets/partial-styles/fonts-varibles';

:host{
    display: grid;
    background: linear-gradient(to top left, $primary, $other_pallet_blue);
    background-size: 400% 400%;
    place-items: center;
    color: $white;
    text-transform: capitalize;
    font-family: $font;
    animation: gradient 5s linear infinite;

    @keyframes gradient {
        0%{
            background-position: 0% 50%;
        }

        50%{
            background-position: 100% 50%;
        }

        100%{
            background-position: 0% 50%;
        }
    }
}