<section>
    <h1>How it works</h1>

    <p>Managing your property has never been easier. With the help of our trusted property managers, we ensure that everything is taken care of efficiently and professionally.</p>

    <ul>
        <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h3>Create your account</h3>

            <p>Sign up on Diaspora Build.</p>
        </li>

        <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h3>Kickstart onboarding</h3>

            <p>Share property details and documents.</p>
        </li>

        <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h3>Our Property Managers handle everything</h3>

            <p>Our team handles construction, maintenance, and other services.</p>
        </li>

        <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h3>Stay updated</h3>

            <p>Receive real-time updates and reports about your property.</p>
        </li>
    </ul>

    <button>Sign Up</button>
</section>

<section>

    <app-image-handler src="assets/images/property-images/propery-1.jpeg"></app-image-handler>

</section>