@import "/src/assets/partial-styles/fonts-varibles";
@import "/src/assets/partial-styles/variables";

:host{
    display: flex;
    flex-flow: column;
    font-family: $font;
    gap: $large_number;

    section{
        display: flex;

        div {
            flex: 1;
            display: flex;
            flex-flow: column;
            gap: $medium_number;
            padding: $large_number;
            border-radius: $large_number;
            background-color: $light_neutral;

            div{
                display: grid;
                grid-template-columns: 70px 1fr;
                grid-template-rows: 1fr 1fr 1fr;

                div{
                    grid-column: 1 / 2;
                    grid-row: 1 / -1;
                }

                p, i{
                    grid-column: 2 / -1;
                }
            }
        }
    }
}