<h1>What our clients are saying</h1>

<app-swiper class="carousel" [options]="swiper_options">
    @for (item of users; track $index) {
        <ng-template #slideTempRef>
            <div #slideItemInst class="testimonial">
                <app-image-handler src="assets/images/double-quotes-l.png"></app-image-handler>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas id sapiente voluptas explicabo est, similique numquam autem quam fugiat? Alias.</p>
    
                <div>
                    <div>
                        <app-image-handler [src]="'assets/images/user-images/' + item.imageUrl"></app-image-handler>
                    </div>
    
                    <b>{{item.firstName}}</b>
                    
                    <b>{{item.lastName}}</b>
                    
                    <p>{{item.location}}</p>
                </div>
            </div>
        </ng-template>
    }
</app-swiper>

<span class="dots">
    <span class="active"></span>

    <span></span>
    
    <span></span>
    
    <span></span>
    
    <span></span>
</span>