<section>

    <app-image-handler src="assets/images/services-page-images/woman.png"></app-image-handler>

</section>

<section>
    <h2>Property management for Nigerians in the Diaspora</h2>

    <p>Tailored property management services designed to help Nigerians in the diaspora effectively manage, rent, and maintain their properties back home. We handle everything so you can invest with peace of mind.</p>

    <button>
        <app-icon name="phone"></app-icon>
        <p>Talk to a Property Manager</p>
    </button>
</section>