@import "/src/assets/partial-styles/variables";
@import "/src/assets/partial-styles/mixins";

:host{
    display: flex;
    justify-content: center;

    main{
        @include routeMaincomponentStyle;

        & > *:not(app-navigator){
            margin: ($large_number * 2) 0;
        }
    }
}