<app-ngx-carousel [options]="{
    draggable: false,
    swipe: false,
    initialSlide: 1
}">
    <ng-template #ngxSlideItem>

        <section #ngxSlideInst class="main-login">

            <h3>Welcome back</h3>

            <p>Sign in to manage your properties, and track your investments from anywhere in the world</p>

            <div class="social-signIn">
                <button>
                    <app-image-handler src="assets/images/google-logo.png"></app-image-handler>
                    <p>Sign in with Google</p>
                </button>

                <button>
                    <app-image-handler src="assets/images/facebook-logo.png"></app-image-handler>
                    <p>Sign in with Facebook</p>
                </button>
            </div>

            <div class="or">
                <hr>
                <p>OR</p>
                <hr>
            </div>

            <app-slide-message [message]="error_message"></app-slide-message>

            <form #form="ngForm" (ngSubmit)="login()">
                <label>
                    <app-input-text-field-decorator [error]="(email_model_field.errors?.['required'] || email_model_field.errors?.['inalidEmailFormaat']) && email_model_field.dirty">
                        <input 
                            type="email" 
                            name="email"
                            #textField 
                            #email_model_field="ngModel"
                            appEmailFormatValidator
                            placeholder="Enter Email" 
                            [(ngModel)]="creds.email"
                            [ngModelOptions]="{updateOn: 'change'}"
                            required
                        >
                    </app-input-text-field-decorator>
                    <p *ngIf="email_model_field.errors?.['required'] && email_model_field.dirty" class="input-err-msg">This field cannot be empty</p>
                    
                    <p *ngIf="email_model_field.errors?.['inalidEmailFormaat']" class="input-err-msg">&#64; is required</p>                    
                </label>

                <label>
                    <app-input-text-field-decorator [error]="password_model_field.errors && password_model_field.dirty">
                        <input 
                            type="password" 
                            name="password"
                            #textField 
                            #password_model_field="ngModel" 
                            placeholder="Enter Password" 
                            [(ngModel)]="creds.password"
                            required
                        >
                    </app-input-text-field-decorator>
                    <p *ngIf="password_model_field.dirty && password_model_field.errors?.['required']" class="input-err-msg">
                        this field cannot be empty
                    </p>
                </label>

                
                <div class="extras">
                    <div>
                        <label>
                            <input type="checkbox">
                        </label>

                        <p>Remember me</p>
                    </div>

                    <b (click)="toForgotPassword()">Forgot password?</b>
                </div>

                <app-button-loaders class="btn-load" [loadObvs]="loadObvs">
                    <input 
                        type="submit" 
                        value="Sign in" 
                        #loadTarget 
                        [disabled]="form.invalid" 
                        [ngClass]="{disabled: form.invalid}"
                    >
                </app-button-loaders>

                <p class="to-sign-up">Don't have an account? <b (click)="toSignUp()">Sign Up</b></p>
            </form>
        </section>

    </ng-template>

    <ng-template #ngxSlideItem>

        <app-forgot-passord #ngxSlideInst [credentials]="creds" (toOtp)="toOTP()" (toSignIn)="toStart()"></app-forgot-passord>

    </ng-template>

    <ng-template #ngxSlideItem>

        <app-login-otp-verification #ngxSlideInst>

        </app-login-otp-verification>
    </ng-template>
    
</app-ngx-carousel>