@import "/src/assets/partial-styles/variables";
@import "/src/assets/partial-styles/fonts-varibles";

:host{
    display: flex;
    padding: $medium_number;

    app-ngx-carousel{
        flex: 1;

        .main-login{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: $medium_number;
            font-family: $font;
            
            & > * {
                max-width: 400px;
            }

            h3{
                font-size: $large_number;
            }

            & > p, .social-signIn p, .or p, .to-sign-up{
                color: $neutral;
                text-align: center;
                font-size: $prefered_font_size;
            }

            & > div, form{
                width: 100%;
            }

            .social-signIn{
                display: inherit;
                justify-content: space-between;
                gap: $large_number;

                button{
                    display: flex;
                    align-items: center; 
                    justify-content: center;
                    background-color: transparent;
                    border-radius: $small_number;
                    box-shadow: 0px 0px $small_number transparentize($color: $black, $amount: .7);
                    border: none;
                    padding: $small_number;
                    gap: $small_number;
                    flex: 1;

                    app-image-handler{
                        width: $large_number;
                    }

                    p{
                        font-weight: bold;
                    }
                }
            }

            .or{
                display: flex;
                align-items: center;
                gap: $medium_number; 
                height: $large_number * 2;

                hr{
                    flex: 1;
                    height: 1px;
                    background-color: $neutral;
                }
            }

            form{
                display: flex;
                flex-flow: column;
                gap: $large_number;

                & > label{
                    display: flex;
                    flex-flow: column;
                    gap: $medium_number;
                    height: max-content;

                    app-input-text-field-decorator {
                       height: 45px;
                    }
                }

                .extras{
                    display: flex;
                    justify-content: space-between;
                    font-family: $font;
                    font-size: $prefered_font_size;
    
                    div {
                        display: flex;
                        align-items: center;
                        gap: $medium_number;
                    }
    
                    b{
                        color: $primary;
                        cursor: pointer;
                    }
                }

                .btn-load{
                    margin: 0 auto;
                    width: 90%;
                    height: 35px;
                    border-radius: $large_number;

                    input{
                        background-color: $primary;
                        color: $white;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        transition: .3s;

                        &:hover{
                            background-color: $white;
                            border: solid 1px $primary;
                            color: $primary;
                        }
                    }
                }

                .to-sign-up{
                    b{
                        color: $primary;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}