<h1>Our Services</h1>

<p>From property listings to maintenance management, our services are designed to simplify your life and give you full control over your investments. </p>

<ul>
    <li>
        <app-image-handler src="assets/images/icon-images/briefcase.png"></app-image-handler>
        <h3>Property Management</h3>

        <ul>
            <li>Tenant screening, lease management, and rent collection.</li>
            <li>Regular property inspections and maintenance coordination.</li>
            <li>Handling of property-related legal and administrative tasks.</li>
        </ul>
    </li>

    <li>
        <app-image-handler src="assets/images/icon-images/community.png"></app-image-handler>
        <h3>Construction Management</h3>

        <ul>
            <li>End-to-end supervision of building projects (residential & commercial).</li>
            <li>Transparent tracking with progress reports, photos, and videos.</li>
            <li>Quality assurance and contractor vetting to avoid scams.</li>
        </ul>
    </li>

    <li>
        <app-image-handler src="assets/images/icon-images/withdraw.png"></app-image-handler>
        <h3>Property Maintenance & Repairs</h3>

        <ul>
            <li>Regular and emergency property repairs.</li>
            <li>Facility management (electrical, plumbing, painting, security).</li>
            <li>Landscaping and home improvement services.</li>
        </ul>
    </li>

    <li>
        <app-image-handler src="assets/images/icon-images/data-chart.png"></app-image-handler>
        <h3>Property Listing (For Sale/Rent)</h3>

        <ul>
            <li>Listing services for homeowners and real estate investors.</li>
            <li>Tenant sourcing and buyer verification.</li>
            <li>Marketing through digital channels to maximize property visibility.</li>
        </ul>
    </li>

    <li>
        <app-image-handler src="assets/images/icon-images/tax-inquiry.png"></app-image-handler>
        <h3>Legal Property Verification</h3>

        <ul>
            <li>Comprehensive background checks on land and property titles.</li>
            <li>Prevention of fraud and land disputes.</li>
            <li>Assistance with documentation, registration, and ownership transfers.</li>
        </ul>
    </li>

    <li>
        <app-image-handler src="assets/images/icon-images/rent-a-house.png"></app-image-handler>
        <h3>Property Watch & Security</h3>

        <ul>
            <li>Regular site visits with photo and video reports.</li>
            <li>Protection against land encroachment and unauthorised occupants.</li>
            <li>Security upgrades, including fencing, cameras, and surveillance services.</li>
        </ul>
    </li>
</ul>