<h1>Key Services</h1>

<div>
    <p>Key services From property listings to maintenance management, our services are designed to simplify your life and give you full control over your investments.See all</p>

    <button>See all</button>
</div>

<section>
    <div>
        <app-image-handler src="assets/images/icon-images/briefcase.png"></app-image-handler>
        
        <h3>Property Management</h3>

        <ul>
            <li>
                Tenant screening, lease management, and rent collection.
            </li>

            <li>
                Regular property inspections and maintenance coordination.
            </li>

            <li>
                Handling of property-related legal and administrative tasks.
            </li>
        </ul>
    </div>
        
    <div>
        <app-image-handler src="assets/images/icon-images/community.png"></app-image-handler>
    
                
        <h3>Construction Management</h3>

        <ul>
            <li>End-to-end supervision of building projects (residential & commercial).</li>
            <li>Transparent tracking with progress reports, photos, and videos.</li>
            <li>Quality assurance and contractor vetting to avoid scams.</li>
        </ul>
    </div>
    
    <div>
        <app-image-handler src="assets/images/icon-images/withdraw.png"></app-image-handler>
                
        <h3>Property Maintenance & Repairs</h3>

        <ul>
            <li>Regular and emergency property repairs.</li>
            <li>Facility management (electrical, plumbing, painting, security).</li>
            <li>Landscaping and home improvement services.</li>
        </ul>
    </div>
</section>