<h1>Key Services</h1>

<div>
    <p>Key services From property listings to maintenance management, our services are designed to simplify your life and give you full control over your investments.See all</p>

    <button>see all</button>
</div>

<section>
    <div>
        <app-image-handler src="assets/images/home-images/briefcase.png"></app-image-handler>
        
        <h3>Property Management</h3>

        <ul>
            <li>
                Tenant screening, lease management, and rent collection.
            </li>

            <li>
                Regular property inspections and maintenance coordination.
            </li>

            <li>
                Handling of property-related legal and administrative tasks.
            </li>
        </ul>
    </div>
        
    <div>
        <app-image-handler src="assets/images/home-images/community.png"></app-image-handler>
    
                
        <h3>Property Management</h3>

        <ul>
            <li>
                Tenant screening, lease management, and rent collection.
            </li>

            <li>
                Regular property inspections and maintenance coordination.
            </li>

            <li>
                Handling of property-related legal and administrative tasks.
            </li>
        </ul>
    </div>
    
    <div>
        <app-image-handler src="assets/images/home-images/withdraw.png"></app-image-handler>
                
        <h3>Property Management</h3>

        <ul>
            <li>
                Tenant screening, lease management, and rent collection.
            </li>

            <li>
                Regular property inspections and maintenance coordination.
            </li>

            <li>
                Handling of property-related legal and administrative tasks.
            </li>
        </ul>
    </div>
</section>