@import "/src/assets/partial-styles/variables";
@import "/src/assets/partial-styles/mixins";

:host{
    display: flex;
    font-family: $font;
    gap: $large_number;
    flex-wrap: wrap;

    section{
        flex: 1;
        min-width: 350px;

        &:nth-child(1){
            @include cutImageBannerContainer;
        }

        &:nth-child(2){
            display: flex;
            flex-flow: column;
            justify-content: center;


            h1{
                font-size: 32px;
            }

            p{
                font-size: $prefered_font_size;
                color: $neutral;
            }
        }
    }

    @media (max-width: 600px) {
        section:nth-child(2){
            text-align: center;
        }
    }
}