<section>
    <h1>Why choose us?</h1>

    <ul>
        <li>
            <div>
                <span>1</span>
            </div>

            <h4>Security & transparency </h4>

            <p>We provide verified reports and legal safeguards.</p>
        </li>

        <li>
            <div>
                <span>2</span>
            </div>
            
            <h4>Remote convenience</h4>

            <p>No need to travel—monitor everything from your phone.</p>
        </li>

        <li>
            <div>
                <span>3</span>
            </div> 
            
            <h4>Expertise & local knowledge</h4>

            <p>We work with vetted contractors and agents.</p>
        </li>
    </ul>

    <button>Get Started</button>
</section>
    
<section>

    <app-image-handler src="assets/images/services-page-images/family.png"></app-image-handler>

</section>