@import "/src/assets/partial-styles/fonts-varibles";
@import "/src/assets/partial-styles/variables";

:host{
    display: flex;
    flex-flow: column;
    font-family: $font;
    gap: $large_number;

    .carousel{
        display: flex;
        height: 300px;

        .testimonial {
            min-width: 300px;
            display: flex;
            flex-flow: column;
            gap: $medium_number;
            padding: $large_number;
            border-radius: $large_number;
            background-color: $light_neutral;

            & > app-image-handler {
                width: 30px;
            }

            & > div{
                display: grid;
                grid-template-columns: 40px 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                column-gap: $large_number;

                & > div{
                    grid-column: 1 / 2;
                    grid-row: 1 / -1;
                    display: grid;
                    place-items: center;

                    app-image-handler{
                        display: block;
                        width: 50px;
                    }
                }

                b, p{
                    grid-column: 2 / -1;
                    font-size: $prefered_font_size;
                    text-transform: capitalize;
                }
            }
        }
    }

    .dots{
        display: flex;
        gap: $medium_number;
        align-self: center;

        span{
            width: 15px;
            height: 15px;
            background-color: $light_neutral;
            display: block;
            border-radius: 50%;

            &.active{
                background-color: $primary;
            }
        }
    }
}