@import "/src/assets/partial-styles/variables";

:host{
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    main{
        width: 95%;
        display: flex;
        flex-flow: column;
        max-width: 1000px;
        height: max-content;
        padding-top: $medium_number;
        z-index: 2;

        app-hero-section{
            height: 90vh;
        }

        & > *:not(app-navigator):not(app-hero-section):not(app-property-search){
            margin: ($large_number * 2) 0;
        }
    }
}