@import "/src/assets/partial-styles/variables";
@import "/src/assets/partial-styles/mixins";
@import "/src/assets/partial-styles/fonts-varibles";

:host{
    display: flex;
    flex-flow: column;
    gap: $medium_number;
    justify-content: center;
    align-items: center;
    height: 500px;
    position: relative;
    border-radius: $large_number;
    overflow: hidden;
    font-family: $font;
    text-align: center;
    padding: $medium_number;


    app-blue-background-decorator{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: inherit;
    }

    & > *:not(app-blue-background-decorator){
        z-index: 2;
    }

    h1{
        max-width: 500px;
    }

    p{
        max-width: 450px;
        font-size: $prefered_font_size;
    }

    button{
        padding: $medium_number $large_number;
        @include primaryButtonStyle($white, $black);
    }
}