<section class="left">

    <span #white></span>

    <div>
        <div #fade1 class="fade1"></div>

        <div #fade2 class="fade2"></div>
        
        <app-image-handler #image class="imageHold" src="assets/images/property-images/propery-1.jpeg"></app-image-handler>
        
        <p class="text-holder" #text>
            Effortlessly manage your property from anywhere in the world with the help of our expert property managers.
        </p>

        <h5 class="text-title-holder" #textTitle>
            Your trusted Premium Property Platform Management
        </h5>
    </div>
    
</section>

<app-swiper class="right">
    <ng-template #slide>
        <app-image-handler #slideItem #image class="imageHold" src="assets/images/property-images/propery-1.jpeg"></app-image-handler>
    </ng-template>    

    <ng-template #slide>
        <app-image-handler #slideItem #image class="imageHold" src="assets/images/property-images/propery-1.jpeg"></app-image-handler>
    </ng-template>    
</app-swiper>