<div class="logo" routerLink="/">
    <app-image-handler src="assets/images/logo.png"></app-image-handler>
</div>

<section class="left">

    <span #white></span>

    <div>
        <div #fade1 class="fade1"></div>

        <div #fade2 class="fade2"></div>
        
        <app-image-handler #image class="imageHold" src="assets/images/property-images/property-1.jpeg"></app-image-handler>
        
        <p class="text-holder" #text>
            Effortlessly manage your property from anywhere in the world with the help of our expert property managers.
        </p>

        <h5 class="text-title-holder" #textTitle>
            Your trusted Premium Property Platform Management
        </h5>
    </div>
    
</section>

<app-ngx-carousel class="right" [options]="carousel_options">
    <ng-template #ngxSlideItem>
        
        <app-log-in #ngxSlideInst (switch)="toSignUp()"></app-log-in>
        
    </ng-template>
    
    <ng-template #ngxSlideItem>
        
        <app-sign-up #ngxSlideInst (switch)="toLogin()"></app-sign-up>

    </ng-template>

</app-ngx-carousel>

<p>© Diaspora Build 2025. All rights reserved.</p>