<section>
    <h1>Our impact</h1>

    <ul>
        <li>
            <h1>100+</h1>
            <p>Sucessfully managed properties from Nigerian abroad.</p>
        </li>

        <li>
            <h1>0</h1>
            <p>Fraud cases - helped diaspora clients invest in real estate safely.</p>
        </li>

        <li>
            <h1>100%</h1>
            <p>Industry experts in real estate.</p>
        </li>
    </ul>
</section>

<section>
    <app-image-handler src="assets/images/about-page-images/man-tower.png"></app-image-handler>
</section>