<main>
    <app-navigator></app-navigator>

    <section>
        <h1>Cookie Policy</h1>

        <p>Effective Date: {{date | date : 'dd-MMMM-yy'}}</p>

        <hr>

        
        <div>
            <p>At Cool Websites, we are committed to protecting the privacy and security of our users' personal information. This Privacy Policy outlines the types of information we collect, how we use it, and the choices users have regarding their information.</p>
        
            <ul>
                <li>
                    <h3>Information We Collect</h3>

                    <ul>
                        <li>
                            <b>1.</b>
                            <p>
                                <b>Personal Information:</b>
                                <span>When you use our services, we may collect personal information such as your name, email address, postal address, phone number, and payment information. We collect this information only when you voluntarily provide it to us.</span>
                            </p>
                        </li>
                        
                        <li>
                            <b>2.</b>
                            <p>
                                <b>Usage Information:</b>
                                <span>We may collect information about how you interact with our website, such as your IP address, browser type, device identifiers, pages visited, and time spent on each page. This information helps us improve our services and user experience.</span>
                            </p>
                        </li>

                        <li>
                            <b>3.</b>
                            <p>
                                <b>Cookies and Similar Technologies:</b>
                                <span>We use cookies and similar technologies to collect information and enhance your experience on our website. You can control cookies through your browser settings, but please note that disabling cookies may affect your ability to access certain features of our website.</span>
                            </p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h3>How We Use Your Information</h3>

                    <ul>
                        <li>
                            <b>1.</b>
                            <p>
                                <b>Providing and Improving Our Services:</b>
                                <span>We use the information we collect to provide and improve our services, customize your experience, and respond to your inquiries and requests.</span>
                            </p>
                        </li>

                        <li>
                            <b>2.</b>
                            <p>
                                <b>Communications:</b>
                                <span> We may use your contact information to send you promotional emails, newsletters, and updates about our services. You can opt-out of receiving these communications at any time.</span>
                            </p>
                        </li>

                        <li>
                            <b>3.</b>
                            <p>
                                <b>Analytics:</b>
                                <span> We may use usage information and analytics tools to analyze trends, track user interactions, and measure the effectiveness of our marketing efforts.</span>
                            </p>
                        </li>

                        <li>
                            <b>4.</b>
                            <p>
                                <b>Security:</b>
                                <span> We take the security of your information seriously and implement measures to protect it from unauthorized access, disclosure, alteration, or destruction.</span>
                            </p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h3>Sharing Your Information</h3>

                    <p>We do not sell, trade, or rent your personal information to third parties without your consent, except as described in this Privacy Policy or required by law. We may share your information with:</p>

                    <ul>
                        <li>
                            <b>1.</b>
                            <p>
                                <b>Service Providers:</b>
                                <span> We may share your information with third-party service providers who assist us in providing our services, such as hosting providers, payment processors, and analytics services.</span>
                            </p>
                        </li>

                        <li>
                            <b>2.</b>
                            <p>
                                <b>Legal Compliance:</b>
                                <span> We may disclose your information when required by law or in response to valid legal requests, such as subpoenas or court orders.</span>
                            </p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h3>Your Choices</h3>

                    <ul>
                        <li>
                            <b>1.</b>
                            <p>
                                <b>Opt-Out:</b>
                                <span> You can opt-out of receiving promotional emails and communications by following the instructions provided in the emails or contacting us directly.</span>
                            </p>
                        </li>

                        <li>
                            <b>2.</b>
                            <p>
                                <b>Access and Update:</b>
                                <span> You have the right to access, update, or delete your personal information. If you would like to do so, please contact us using the information provided below.</span>
                            </p>
                        </li>
                    </ul>
                </li>

                <li>
                    <h3>Children's Privacy</h3>

                    <p>Our services are not intended for children under the age of 13. We do not knowingly collect personal information from children under 13. If you believe that we have inadvertently collected information from a child under 13, please contact us immediately.</p>
                </li>

                <li>
                    <h3>Changes to This Privacy Policy</h3>

                    <p>We may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. We will notify you of any material changes by posting the updated Privacy Policy on our website.</p>
                </li>

                <li>
                    <h3>Contact Us</h3>

                    <p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at [contact&#64;email.com].</p>
                </li>
            </ul>

            <p>By using our services, you agree to the terms of this Privacy Policy.</p>
        </div>
    </section>

    <app-subcribe></app-subcribe>

    <app-footer></app-footer>
</main>