<section>

    <app-image-handler src="assets/images/home-page-images/home-street.png"></app-image-handler>

</section>

<section>

    <h1>What we offer</h1>

    <ul>
          <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h4>Expert Property Managers</h4>
            <p>Our team of experienced professionals handles everything for you.</p>
          </li>

          <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h4>Seamless Property Listings</h4>
            <p>List your property with ease and let us handle the rest.</p>
          </li>

          <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h4>Hassle-Free Rent Collection</h4>
            <p>We ensure timely rent collection and transaction tracking.</p>
          </li>

          <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h4>24/7 Maintenance Management</h4>
            <p>We manage your property maintenance and repair requests promptly.</p>
          </li>

          <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h4>Property Verification</h4>
            <p>We help you verify your property and ensure legal compliance.</p>
          </li>

    </ul>

    <button>Get Started</button>
</section>