<section>

    <app-image-handler src="assets/images/property-images/propery-1.jpeg"></app-image-handler>

</section>

<section>

    <h1>What we offer</h1>

    <ul>
          <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h4>Expert Property Managers</h4>
            <p>Our team of experienced professionals handles everything for you.</p>
          </li>

          <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h4>Expert Property Managers</h4>
            <p>Our team of experienced professionals handles everything for you.</p>
          </li>

          <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h4>Expert Property Managers</h4>
            <p>Our team of experienced professionals handles everything for you.</p>
          </li>

          <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h4>Expert Property Managers</h4>
            <p>Our team of experienced professionals handles everything for you.</p>
          </li>

          <li>
            <div>
                <app-icon name="star"></app-icon>
            </div>

            <h4>Expert Property Managers</h4>
            <p>Our team of experienced professionals handles everything for you.</p>
          </li>
    </ul>

    <button>Get Started</button>
</section>