<h1>Our core values</h1>

<ul>
    <li>
        <app-image-handler src="assets/images/icon-images/magnifying-glass.png" fit="contain"></app-image-handler>
        <h2>Customer first</h2>
        <p>100% honesty, no hidden fees, no scams. We provide real-time updates and verified reports. </p>
    </li>

    <li>
        <app-image-handler src="assets/images/icon-images/handshake.png" fit="contain"></app-image-handler>
        <h2>Professionalism</h2>
        <p>We work with vetted contractors, lawyers and agents.</p>
    </li>

    <li>
        <app-image-handler src="assets/images/icon-images/check-shield.png" fit="contain"></app-image-handler>
        <h2>Security</h2>
        <p>Your property is always protected from fraud and encroachment.</p>
    </li>

    <li>
        <app-image-handler src="assets/images/icon-images/house.png" fit="contain"></app-image-handler>
        <h2>Customer first</h2>
        <p>We treat every property like it’s our own.</p>
    </li>
</ul>