<section>
    <div>
        <div>
            <h3>Our Story</h3>
        
            <p>We started DiasporaBuild after hearing too many heartbreaking stories of Nigerians abroad losing money to unreliable contractors, fraudulent property agents, and unverified land deals. Many of our founders and team members have experienced these challenges firsthand. Our goal is simple: to bring trust, professionalism, and real-time transparency to property management in Nigeria.</p>
        
        </div>
        <button>
            <p>Get Started</p>
            <app-icon name="chevron-right"></app-icon>
        </button>
    </div>
</section>
<app-image-handler src="assets/images/about-page-images/building.png"></app-image-handler>